<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title : 'Autores' }) %>

<body>
  <div class="container">
    <%- include('partials/header.ejs') %>

      <div class="container">
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">


          <% author.books.forEach(book => { %>
            <div class="feature col mx-auto">
              <div class="feature-icon bg-gradient">
                <img class="d-block mx-auto mb-4" src="<%= book.cover %>" alt="<%= book.title %>" width="172" height="257">
              </div>
              <h2>Book Title <%= book.title %></h2>
              <p><%= book.description %></p>
              <a href="/books/detail/<%= book.id %>" class="icon-link">Detail</a>
            </div>
          <% }); %>
        </div>


        </div>
      </div>
  </div>


  <%- include('partials/footer.ejs') %>
</body>

</html>