<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head', { title : 'Login' }) %>

<body>
  <div class="container">
    <%- include('partials/header.ejs') %>
      <section class="vh-100" style="background-color: #2779e2;">
        <div class="container h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-6">

              <h1 class="text-white mb-4">Login </h1>

              <form action="/users/login" method="POST" class="card" style="border-radius: 15px;">
                <div class="card-body">

                  <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">

                      <h6 class="mb-0">Email</h6>

                    </div>
                    <div class="col-md-9 pe-5">

                      <input type="email" name="email" class="form-control form-control-lg"
                        placeholder="example@gmail.com" />
                        <small id="msgError-email" class="text-danger ms-2">
                          <%= locals.errors && (errors.email && errors.email.msg); %>
                      </small>

                    </div>
                  </div>

                  <hr class="mx-n3">

                  <div class="row align-items-center py-3">
                    <div class="col-md-3 ps-5">

                      <h6 class="mb-0">Password</h6>

                    </div>
                    <div class="col-md-9 pe-5">

                      <input type="password" name="password" class="form-control form-control-lg">
                      <small id="msgError-password" class="text-danger ms-2">
                        <%= locals.errors && (errors.password && errors.password.msg); %>
                    </small>

                    </div>
                  </div>

                  <hr class="mx-n3">
                  <div class="d-flex">
                    <div class="col-12 col-md-6 mt-4 mx-auto">
                      <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="remember" name="remember"
                          style="width: 30px; height:30px">
                        <label class="form-check-label form-label ms-2" for="remember">Recordarme</label>
                      </div>
                    </div>

                    <div class="px-5 py-4">
                      <button type="submit" class="btn btn-primary btn-lg">Login</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </section>
      <script src="/public/javascripts/validationLogin.js"></script>
  </div>
  <%- include('partials/footer.ejs') %>
</body>

</html>