<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title : 'Registro' }) %>

<body>
  <div class="container">
  <%- include('partials/header.ejs') %>
  <!-- ----------------------------------------------------------------------------- -->
  <section class="vh-100" style="background-color: #2779e2;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-9">
  
          <h1 class="text-white mb-4">Register a new user</h1>

          <!-- --------------------------------------------------------------------------- -->
  
          <form action="/users/register" method="POST" id="formRegister" class="card" style="border-radius: 15px;">
            <div class="card-body">
  
              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Full name</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="name" id="name" class="form-control form-control-lg  <%= locals.errors && (errors.name && 'is-invalid') %>" value="<%= locals.old && (old.name && old.name) %>"/>
                  <small id="msgError-name" class="ms-1 text-danger">
                    <%= locals.errors && (errors.name && errors.name.msg) %>
                </small>
                </div>
              </div>

              <hr class="mx-n3">

              <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="email" class="form-control form-control-lg <%= locals.errors && (errors.email && 'is-invalid') %>" placeholder="example@gmail.com" id="email" value="<%= locals.old && (old.email && old.email) %>" name="email"/>
                  <small id="msgError-email" class="ms-1 text-danger">
                    <%= locals.errors && (errors.email && errors.email.msg) %>
                </small>
                </div>
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Country</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="text" name="country" id="country" class="form-control form-control-lg" placeholder="Argentina" />
                  <small id="msgError-country" class="ms-1 text-danger">
                    <%= locals.errors && (errors.country && errors.country.msg) %>
                </small>
                </div>
              </div>
  
              <hr class="mx-n3">
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Password</h6>
                </div>
                <div class=" col-md-9 pe-5">
                  <div class="input-group">
                    <input type="password" name="password" id="password" class="form-control form-control-lg <%= locals.errors && (errors.password && 'is-invalid') %>" >
                    <span class="input-group-text"><i id="viewPassword" class=" fa fa-eye"></i></span>
                    <small id="msgError-password" class="ms-1 text-danger">
                      <%= locals.errors && (errors.password && errors.password.msg) %>
                    </small>
                  </div>
                </div>
                
              </div>
  
              <hr class="mx-n3">
  
              <div class="row align-items-center py-3">
                <div class="col-md-3 ps-5">
                  <h6 class="mb-0">Category</h6>
                </div>
                <div class="col-md-9 pe-5">
                  <input type="radio" name="category" id="admin" value="1" />
                  <label for="admin">Admin</label>
                  <input type="radio" name="category" id="user" value="2" />
                  <label for="user">User</label>
                  <small id="msgError-category" class="text-danger ms-2">
                    <%= locals.errors && (errors.category && errors.category.msg); %>
                </small>
                </div>
                
              </div>
  
              <hr class="mx-n3">
  
              <div class="px-5 py-4">
                <button type="submit" class="btn btn-primary btn-lg">Register</button>
                <small id="msgError-empty" class="ms-2 text-danger"></small>
              </div>
  
            </div>
          </form>
  
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/javascripts/validationRegister.js"></script>
<%- include('partials/footer.ejs') %>
</body>
</html>