<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', { title : 'Busqueda' }) %>

<body>
  <div class="container">
    <%- include('partials/header.ejs') %>

    <div class="container">

      <form action="/books/search" method="POST" class="col-12 col-lg-auto mb-3 me-lg-3" _lpchecked="1">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Book Title..." name="title">
          <button type="submit" class="btn btn-secondary">Search</button>
        </div>
      </form>


    <div class="list-group ">
      
      <% books.forEach(book => { %>
        <a href="/books/detail/<%= book.id %>" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
          <div class="feature-icon bg-gradient">
            <img class="d-block mx-auto mb-4" src="<%= book.cover %>" alt="<%= book.title %>" width="172" height="257">
          </div>
          <div class="d-flex-column">
            <h5><%= book.title %></h5>
            <p><%= book.description %></p>
          </div>
        </a>
      <% }); %>
    </div>
  </div>
</div>


<%- include('partials/footer.ejs') %>
</body>
</html>